@font-face{font-family:Poppins;font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1hvEv-L.woff) format('woff')}@font-face{font-family:Poppins;font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJPUdVNF.woff) format('woff')}@font-face{font-family:Poppins;font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1hvEv-L.woff) format('woff')}@font-face{font-family:Poppins;font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1hvEv-L.woff) format('woff')}@font-face{font-family:Poppins;font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDD4V1hvEv-L.woff) format('woff')}@font-face{font-family:Poppins;font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5V1hvEv-L.woff) format('woff')}
</style>
<style id='page-skin-1' type='text/css'><!--
* {
margin: 0;
padding: 0;
box-sizing: border-box;
user-select: ;
font-family: Poppins, sans-serif;
font-weight:300;
}
:root{
--xl-heading:52px;
--bigheading:38px;
--xm-heading:33px;
--subheading:28px;
--pg:24px;
--smallpg:17px;
--bolder:600;
--bold:500;
--lightweight:300;
--primeryclr:#293966;
--secondary:#e91e7c;
--btn-border:2px solid #4227b0;
--creamclr:#f9f9f9;
}
html{
overflow-x:hidden;
}
body {
width: 100%;
background: #fff;
overflow-x:hidden;
}
.section{
margin:0;
padding:0;
}
.widget{
margin:0;
padding:0;
line-height: unset;
}
.widget li, li{
padding:0;
margin: 0;
text-indent: 0;
}
img{
max-width:100%;
}
a{
text-decoration:none;
color:inherit;
}
p{
color:#000;
}
.header{
transition: 0.5s;
}
.header .item-contain{
max-width:1281px;
margin:auto;
display: flex;
width: 100%;
align-items: center;
justify-content: center;
padding: 1em;
gap: 1em;
}
.header-flex{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1280px;
margin: auto;
width: calc(100% - 30px - 1em);
}
.header.sticky{
position: fixed;
top: 0;
left: 0;
right: 0;
background: #fff;
box-shadow: 0 0 5px #ddd;
z-index: 9;
}
.logo{
width: 250px;
}
.logo h1{
font-size:var(--subheading);
font-weight: var(--bolder);
color: var(--primeryclr);
}
.header ul{
list-style: none;
padding: 0;
display: flex;
align-items: center;
}
.header ul h1, .header .fa-bars, .header ul > i{
display:none;
}
.header ul li a{
text-decoration: auto;
color: inherit;
padding: 10px;
display: block;
font-size: var(--smallpg);
font-weight: 400;
white-space: nowrap;
}
.header ul li:last-child a{
background: ;
border-radius: 30px;
padding: 6px 1.2em;
min-width: 140px;
text-align: center;
font-weight: var(--bold);
text-transform: Capitalize;
margin-left: 1em;
color:var(--primeryclr);
border: var(--btn-border);
}
.hero-section{
position: relative;
}
.hero{
display: flex;
align-items: center;
justify-content: center;
padding: 1em;
max-width: 1280px;
margin: auto;
color:#293966;
}
.hero .text, .hero .image{
width:100%;
}
.hero .text{
/* margin-left: 1rem; */
}
.hero img{
display:block;
margin:auto;
}
.hero .text h3{
font-size: var(--smallpg);
font-weight: var(--bold);
margin-bottom: 12px;
}
.hero .text h1{
font-size: var(--xl-heading);
font-weight:var(--bolder);
}
.hero .text span{
font-family: Poppins, sans-serif;
font-weight:var(--bolder);
}
.hero .text span span{
color: var(--secondary);
}
.hero .text p{
font-size: var(--smallpg);
width: 90%;
margin-top: 12px;
}
.hero .buttons{
display: flex;
align-items: center;
gap: 1em;
margin-top: 1em;
}
.hero .buttons a{
padding: 10px 21px;
border-radius: 5px;
border: var(--btn-border);
font-size: var(--smallpg);
font-weight: var(--bold);
display: flex;
align-items: center;
justify-content: center;
gap: 7px;
line-height: 1.3;
color:#484848;
}
.hero .buttons a:hover{
background: #383235;
color: #fff;
border: 2px solid transparent;
}
.hero .buttons a i{
font-size: 119%;
}
.wd-shape1 {
position:absolute;
left: 0;
top: 85px;
-webkit-animation: floatY 5s ease-in-out infinite;
animation: floatY 5s ease-in-out infinite;
z-index: -1;
}
.shape1 {
-webkit-border-top-right-radius: 1000px;
-webkit-border-bottom-right-radius: 1000px;
-moz-border-radius-topright: 1000px;
border-top-right-radius: 1000px;
border-bottom-right-radius: 1000px;
background: #f9f9f9;
height: 440px;
width: 230px;
}
.shape1, .shape2 {
position: relative;
display: inline-block;
}
.wd-shape2 {
position:absolute;
top: -112%;
right: 50%;
-webkit-transform: translateX(80%);
-transform: translateX(80%);
transform: translateX(80%);
-webkit-animation: floatX 10s ease-in-out infinite;
animation: floatX 10s ease-in-out infinite;
z-index: -1;
}
.shape2 {
height: 600px;
width: 600px;
background: #ff00001a;
-webkit-border-bottom-right-radius: 1000px;
-webkit-border-bottom-left-radius: 1000px;
border-bottom-right-radius: 1000px;
border-bottom-left-radius: 1000px;
}
@media only screen and (max-width:700px){
.header-flex{
width: calc(100% - 75px - 1em);
}
.header .LinkList{
position: fixed;
left: -150%;
top: 0;
bottom:0;
z-index: 99;
overflow-y: auto;
width: 300px;
background: #f7f7f7;
max-width: 95%;
padding-bottom:1em;
transition: 0.5s;
}
.header .LinkList.active{
left:0;
}
.header ul > i{
position: absolute;
right: 7px;
top: 7px;
width: 35px;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
background: #fff;
border-radius: 50%;
font-size: 20px;
z-index:9;
border: 2px solid #ebebeb;
}
.header ul{
flex-direction: column;
align-items: flex-start;
}
.header ul h1{
display:block;
font-size: 33px;
padding: 1em 11px 7px 16px;
width: 100%;
}
.header ul li a{
padding-left: 18px;
}
.header .fa-bars{
font-size: 21px;
background: #f7f7f7;
padding: 9px;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
}
.header ul li{
width: 100%;
border-top: 1px solid #dfdfdf;
}
.header ul li:first-child{
padding-top: 11px;
}
.header ul li:last-child{
padding-top: 1em;
}
.header ul li:last-child a{
display: inline-block;
background: #495056;
color: #e9e9e9;
margin-left: 10px;
border: none;
box-shadow: 0 0 17px -9px #262626;
}
.hero{
flex-direction: column;
padding:4em 1em;
gap:2em;
}
.hero .text h1{
font-size: var(--bigheading);
}
.hero .text p{
font-size: var(--smallpg);
width: 100%;
}
.wd-shape2 {
position: absolute;
top: -70%;
}
}
@media only screen and (max-width:450px){
.hero .text h1{
font-size: var(--xm-heading);
}
.hero .buttons{
flex-wrap:wrap;
gap:10px;
}
.hero .buttons a{
font-size: 14px;
padding: 10px 15px;
}
.wd-shape2 {
top: -65%;
right: 51%;
}
}
@media only screen and (max-width:335px){
.hero .text h1{
font-size: var(--subheading);
}
.hero .text h1 span{
}
.hero .buttons a{
font-size: 11px;
padding: 10px 14px;
}
.wd-shape2 {
top: -75%;
}
}
.service-section{
padding: 2em 1em 4em;
max-width: 1280px;
margin: auto;
text-align: center;
color: #2e3870;
}
.service-section > h2{
font-size: var(--bigheading);
width: 451px;
max-width: 100%;
margin: auto;
font-weight:var(--bolder);
color:var(--secondary);
}
.service-section > h2 span{
font-weight:var(--bolder);
color:var(--primeryclr);
}
.services{
margin-top: 2em;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 2em;
}
.services .widget{
width: 350px;
max-width: 100%;
}
.services .item{
background: #fff;
box-shadow: 0 23px 43px 0 rgb(0 0 0 / 13%);
padding: 45px 25px;
border-radius: 9px;
}
.services i{
font-size: 51px;
color: #334758;
}
.services h3{
font-size: 20px;
font-weight: 500;
margin: 15px 0;
line-height: 1.6;
}
.services p{
font-size: 15px;
line-height: 1.5;
}
@media only screen and (max-width:450px){
.service-section > h2{
font-size: 27px;
}
}
.features-section{
padding:4em 1em;
background:;
color:var(--primeryclr);
background: #f7f7f7;
}
.features-section .features{
display:flex;
max-width:1200px;
margin:auto;
gap:2em;
}
.features .text{
/* margin-left: 1rem;*/
}
.features .widget{
width:100%;
}
.features .text h3{
font-weight: var(--bold);
font-size: var(--smallpg);
}
.features .text h2{
font-weight: var(--bolder);
font-size: var(--bigheading);
line-height: 1;
margin-top: 14px;
color: var(--secondary);
}
.features .text h2 span{
font-weight: var(--bolder);
color:var(--primeryclr);
line-height: 1.3;
}
.features .text p{
font-size: 15px;
margin-top: 1.5em;
}
.features .text a{
font-size: var(--smallpg);
border: var(--btn-border);
font-weight: var(--bold);
border-radius: 21px;
padding: 5px 2em;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 10px;
text-align: center;
margin-top: 2em;
}
.features .text a:hover{
background: #48454c;
color: #fff;
border: 2px solid #ddd;
}
.features .items{
display: flex;
flex-direction:column;
gap:2em;
}
.features .items li{
list-style: none;
display: flex;
align-items: center;
gap: 1em;
width: 90%;
}
.features .items i{
padding: 6px;
background: #d9f3de;
font-size: 35px;
border-radius: 50%;
}
.features .items i:before{
padding: 17px;
border: 5px solid #fff;
border-radius: 50%;
display: flex;
height: 40px;
width: 40px;
align-items: center;
justify-content: center;
}
.features .items li:nth-child(1) i{
color:#07bd75;
}
.features .items li:nth-child(2) i{
background:#e1e1f5;
color:#5f1491;
}
.features .items li:nth-child(3) i{
background:#f4dce0;
color:#da4c80;
}
.features .items h3{
font-size: 20px;
font-weight: 500;
}
.features .items p{
font-size: 14px;
margin-top: 5px;
}
@media only screen and (max-width:990px){
.features-section .features{
flex-direction:column;
gap: 3em;
}
.features .items li{
width:100%;
}
}
@media only screen and (max-width:450px){
.features .text h2{
font-size: var(--xm-heading);
}
.features .text h2 span{
}
.features .text{
margin-left: .5rem;
}
}
.counter{
clear: both;
text-align: center;
padding: 3em 1em;
background:linear-gradient(45deg, #3679f4, #9136f4);
color:#fff;
}
.counter > h3{
font-weight: var(--bolder);
font-size: var(--bigheading);
}
.counter > h2{
font-size: var(--smallpg);
margin: 0.51em;
font-weight:var(--lightweight) ;
line-height: 1.2;
}
.counter .widget h2{
}
.counter .widget p{
margin-top: 0.51em;
font-size: var(--smallpg);
font-weight: var(--bold);
white-space: nowrap;
color: #fff;
}
#counter-box{
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
padding: 3em 1em;
gap: 3em 3em;
max-width: 1200px;
margin: auto;
}
#counter-box .widget{
text-align:center;
}
#counter-box i{
font-size: 52px;
margin-bottom: 0.31em;
}
@media only screen and (max-width:400px){
#counter-box .widget {
width: 100%;
}
}
.my-team{
padding:2em 1em;
text-align: center;
color: #1d2654;
}
.my-team > h2{
font-weight: var(--bolder);
font-size: var(--bigheading);
}
.team-section{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 6em 1.5em;
max-width: 1280px;
margin: auto;
padding: 6em 0 2em;
}
.team-section .widget{
width: 300px;
max-width: 100%;
}
.team-section .team{
padding: 1em 1em;
box-shadow: 0 23px 43px 0 rgb(0 0 0 / 13%);
text-align:center;
border-radius: 7px;
}
.team img{
width:200px;
border-radius:50%;
display:block;
margin:auto;
margin-top: -6em;
}
.team h2{
font-weight: 500;
}
.team h3{
font-weight:500;
margin-top:7px;
color: #5d5d5e;
}
.team p{
font-size: var(--smallpg);
margin-top:7px;
padding-top:7px;
border-top:1px solid #eee;
margin-bottom:1em;
}
.pricing-box{
background: #fcfcfc;
padding: 2em 1em;
color: #232948;
}
.pricing-box h2{
text-align: center;
font-size: var(--bigheading);
font-weight:var(--bolder);
}
.pricing-box p{
text-align: center;
font-size: 15px;
}
.pricing{
margin: 2em auto;
max-width: 1100px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
gap: 2em;
}
.pricing .price {
list-style-type: none;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
border-radius: 7px;
box-shadow: 0 23px 43px 0 rgb(0 0 0 / 13%);
background: #fff;
}
.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .head {
font-weight: 700;
background-color: #da4c73;
color: white;
font-size: 30px;
border-radius: 5px 5px 0 0;
padding: 20px 10px;
position:relative;
}
.price .head i{
position: absolute;
right: 10px;
top: 10px;
font-size: 49px;
color: rgb(255 255 255 / 17%);
}
.price li {
border-bottom: 1px solid #eee;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
gap: 1em;
}
.price li .fa-check{
color: #0aa70a;
font-size: 21px;
}
.price li .fa-times{
color:#ef1010;
font-size: 21px;
}
.price .cost {
font-size: 27px;
font-weight: bold;
}
.price .button {
color: #213546;
font-size: 17px;
padding: 10px 33px;
border: var(--btn-border);
border-radius: 35px;
font-weight: 500;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.price .button i{
color: #3f51b5;
font-size: 23px;
}
.price .button:hover{
background: var(--secondary);
color: #fff;
border: 2px solid #ddd;
}
.faqs{
padding: 3em 1em;
background: #f7f7f7;
}
.faqs h1{
font-size: var(--bigheading);
text-align: center;
font-weight: var(--bolder);
margin-bottom: 1em;
color: var(--primeryclr);
}
.faq-box{
display:flex;
max-width: 1200px;
margin: auto;
gap:1em;
}
.accordion{
width: 100%;
border-radius: 8px;
display: flex;
flex-direction: column;
gap: 1em 2em;
}
.accordion .accordion-content{
border-radius: 4px;
background: #ffffff;
box-shadow: 0 0 32px rgb(0 0 0 / 5%);
overflow: hidden;
}
.accordion-content.open{
padding-bottom: 12px;
background: #bcffe9;
}
.accordion-content header{
display: flex;
min-height: 70px;
padding: 0 15px;
cursor: pointer;
align-items: center;
justify-content: space-between;
transition: all 0.2s linear;
}
.accordion-content header .title{
font-size: 18px;
font-weight: 500;
color: #232948;
}
.accordion-content header i{
font-size: 21px;
color: #333;
}
.accordion-content .description{
height: 0;
font-size: 15px;
color: #333;
font-weight: 300;
padding: 0 15px;
transition: all 0.2s linear;
}
@media only screen and (max-width:700px){
.faq-box{
flex-direction: column;
}
}
.footer {
font-family: acumin-pro, system-ui, sans-serif;
display: flex;
flex-flow: row wrap;
padding: 40px 30px 20px 30px;
background-color: #222121;
color: #fff;
border-top: 1px solid #242121;
}
.footer > * {
flex:  1 100%;
}
.footer__addr {
margin-right: 1.25em;
}
.footer__logo {
font-family: 'Pacifico', cursive;
font-weight: bold;
text-transform: capitalize;
font-size: 1.5rem;
}
.footer__addr h2 {
margin-top: 1.3em;
font-size: 17px;
font-weight: 500;
}
.nav__title {
font-weight: 500;
font-size: 18px;
margin-bottom: 7px;
}
.footer address {
font-style: normal;
color: #999;
}
.footer__btn {
display: flex;
align-items: center;
justify-content: center;
height: 36px;
max-width: max-content;
background-color: rgb(255 255 255);
color: #000;
font-weight: 500;
border-radius: 5px;
line-height: 0;
margin: 0.6em 0;
margin-top: 1em;
font-size: 1rem;
padding: 0 1.3em;
}
.footer ul {
padding-left: 0;
}
.footer li {
line-height: 2.5em;
list-style: none;
}
.footer a {
text-decoration: none;
}
.footer__nav {
display: flex;
flex-flow: row wrap;
}
.footer__nav > * {
flex: 1 50%;
margin-right: 1.25em;
}
.nav__ul a {
color: #cfcfcf;
}
.legal {
display: flex;
flex-wrap: wrap;
color: #ddd;
padding-top: 1em;
margin-top: 3em;
border-top: 1px solid #4e4e4e;
justify-content: space-between;
}
.legal p{
color: #ddd;
text-align:center;
}
.legal a{
font-weight: bold;
color: #fff;
}
.legal__links {
display: flex;
align-items: center;
}
@media screen and (max-width: 700px) {
.nav__item{
margin-top:2em;
}
.legal{
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
}
@media screen and (min-width: 700px) {
.footer__nav > * {
flex: 1;
}
.nav__item--extra {
flex-grow: 2;
}
.footer__addr {
flex: 1 0px;
}
.footer__nav {
flex: 2 0px;
}
}
.nofound{
text-align:center;
padding:3em 1em;
margin:auto;
}
.nofound h1{
font-size:70px;
color:#ff3164;
margin:30px auto;
}
.nofound h2{
font-size:30px;
font-weight:600;
}
.nofound p{
font-size:18px;
margin:1em auto 2em auto;
}
.nofound a{
padding: 12px 20px;
color: #fff;
background: #ff3164;
border-radius: 30px;
font-weight:600;
}
#main-area{
padding: 2em 1em;
max-width:1280px;
margin:auto;
}
.post-header{
border-bottom: 3px solid #eee;
text-align: center;
}
.post-header h1{
display: block;
font-size: 2em;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
font-family: Roboto;
}
.post-content{
padding-top:0.5em;
}
.post-content b, .post-content strong, .post-content b *, .post-content strong *{
font-weight:700;
}
#comments{
border: 2px solid #eee;
padding: 1em;
margin: 1em -0.3em;
border-radius: 3px;
}
.prevNxtbtn{
display: flex;
gap: 1em;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
margin: 2em auto;
}
.prevNxtbtn button{
outline: none;
padding: 5px 10px;
background: #fff;
border: 2px solid #e91e63;
border-radius: 5px;
color: #000;
}
.prevNxtbtn button a{
color: crimson;
}
.prevNxtbtn button .fa-chevron-left{
margin-right: 0.31em;
}
.prevNxtbtn button .fa-chevron-right{
margin-left: 0.31em;
}
@media only screen and (max-width:600px){
.post-header h1{
font-size:22px;
}
}
#search-box {
position: fixed;
top: 0;
right: -100%;
z-index: 9;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #1e1e1ed1;
width: 100%;
transition: 0.5s;
}
#search-box.active{
right:0;
}
#search-box .fa-times{
position: absolute;
top: 1em;
right: 15px;
font-size: 40px;
color: #fff;
}
.input-box {
position: relative;
height: 76px;
max-width: 900px;
width: 100%;
background: #fff;
margin: 0 20px;
border-radius: 8px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.input-box i {
left: 20px;
font-size: 30px;
color: #707070;
}
.input-box input {
height: 100%;
width: 100%;
outline: none;
font-size: 18px;
font-weight: 400;
border: none;
padding: 0 155px 0 65px;
background-color: transparent;
}
.input-box .button {
right: 20px;
font-size: 16px;
font-weight: 400;
color: #fff;
border: none;
padding: 12px 30px;
border-radius: 6px;
background-color: #4070f4;
cursor: pointer;
}
.input-box .button:active {
transform: translateY(-50%) scale(0.98);
}
/* Responsive */
@media screen and (max-width: 500px) {
.input-box {
height: 66px;
margin: 0 8px;
}
.input-box i {
left: 12px;
font-size: 25px;
}
.input-box input {
padding: 0 112px 0 50px;
}
.input-box .button {
right: 12px;
font-size: 14px;
padding: 8px 18px;
}
}
.testimonials{
padding:2em 1em;
background:#dfe7f947;
}
.testimonials h2{
font-size:34px;
text-align:center;
margin-bottom:1em;
font-weight: 600;
color: var(--primeryclr);
}
#testimonial-section{
display: flex;
justify-content: center;
}
figure.snip1390 {
position: relative;
overflow: hidden;
margin: 10px;
max-width: 315px;
color: #000000;
text-align: center;
font-size: 16px;
background-color: #8499bb;
padding: 1em;
border-radius: 5px;
background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
figure.snip1390 figcaption {
width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
font-weight: 300;
}
figure.snip1390 h2 {
color: #ffffff;
}
figure.snip1390 blockquote {
font-size: 1em;
padding: 2em 2em 1em;
margin-top: 0.51em;
background-color: #ffffff;
border-radius: 5px;
box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
text-align: left;
position: relative;
}
figure.snip1390 blockquote:before {
font-family: 'FontAwesome 5';
content: "\201C";
position: absolute;
font-size: 70px;
opacity: 0.25;
font-style: normal;
top: 0px;
left: 9px;
}
figure.snip1390 .profile {
width: 100px;
border-radius: 50%;
display: inline-block;
box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
margin-bottom: 10px;
border: solid 5px #A6A57A;
}
@media only screen and (max-width:800px){
#testimonial-section{
flex-wrap:wrap;
}
}
.wa-me{
position: fixed;
bottom: 21px;
right: 12px;
height: 50px;
background: #fff;
border-radius: 29px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 0px 5px rgb(154 154 154 / 37%);
}
.wa-me a{
font-size: 15px;
font-weight: 500;
display: flex;
align-items: center;
gap: 10px;
}
.wa-me a i{
background: #07bd75;
height: 35px;
width: 35px;
line-height: 35px;
text-align: center;
vertical-align: middle;
font-size: 19px;
border-radius: 100px;
color: #fff;
margin-left: 5px;
}
.wa-me .fa-chevron-up{
box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
width: 45px;
height: 45px;
background: #1c1e32c7;
border-radius: 25px;
border: 2px solid #ffffff;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
margin-left: 10px;
}
#HTML22{
display:none;
transition: 0.5s;
}
#HTML22.active{
position: fixed;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 9;
background: #0e1314d4;
padding: 1em;
display: flex;
align-items: center;
justify-content: center;
}
.wa-form{
padding:10px 1em;
border-radius:7px;
background:#fff;
width:400px;
max-width:90%;
margin:auto;
}
.wa-nav{
display:flex;
align-items:center;
justify-content:space-between;
gap:1em;
border-bottom:1px solid #ddd;
padding-bottom: 0.51em;
}
.wa-nav .fa-times{
font-size:25px;
}
.wa-form .group{
display:flex;
align-items:center;
gap:0.51em;
}
.wa-form label{
padding: 10px;
display: flex;
align-items: flex-start;
gap: 0.41em;
border-radius: 8px;
border: 2px solid #fff;
font-size: 20px;
box-shadow: inset 0 0 0 1px rgb(0 0 0 / 2%), inset 1px 1px 5px rgb(0 0 0 / 5%);
background: rgba(0,0,0,.02);
margin-top:1em;
}
.wa-form label i{
opacity: 0.6;
}
.wa-form label input{
border: none;
outline: none;
height: 21px;
width: 100%;
background: none;
}
.wa-form label textarea{
border: none;
outline: none;
width: 100%;
background: none;
}
.wa-form button{
font-size: 16px;
margin-top: 1em;
border: none;
outline: none;
padding: 15px 20px;
background: #07bd75;
color: #fff;
border-radius: 5px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 0.51em;
}
.social-links{
display: flex;
gap: 12px;
flex-wrap: wrap;
margin: 1em auto;
}
.social-links a{
background: white;
border-radius: 50%;
box-shadow: 0 2px 16px -3px #eee;
text-align: center;
font-size: 21px;
width: 35px;
height: 35px;
display: flex;
align-items: center;
justify-content: center;
}
.search-engine-cta {
background-image: linear-gradient(45deg, #3679f4, #9136f4);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
padding: 2em 1em;
margin:1em;
border-radius: 15px;
text-align:center;
}
.search-engine-cta h2 {
color: #fff;
font-size: 37px;
line-height: 60px;
margin: 0px;
font-weight: 900;
font-family: "Red Hat Display",sans-serif;
}
.search-engine-cta p {
color: #fff;
margin-bottom: 1em;
}
.octf-btn.octf-btn-white {
background: #ffffff;
box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.15);
-webkit-box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.15);
-moz-box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.15);
var(--indigo);
}
.octf-btn-icon {
text-align: left;
padding: 5px 5px 5px 28px;
}
.octf-btn {
transition: all 0.2s ease-out;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
font-size: 16px;
padding: 6px 21px;
line-height: 1;
display: inline-block;
margin: 0;
text-decoration: none;
white-space: nowrap;
vertical-align: middle;
font-weight: bold!important;
letter-spacing: 0;
text-align: center;
background: #be1724;
cursor: pointer;
border: 1px solid transparent;
outline: 0;
box-sizing: border-box;
color: #fff;
position: relative;
font-family: "Red Hat Display", sans-serif;
overflow: hidden;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 12px 12px 20px 0px rgba(254, 76, 28, 0.3);
-webkit-box-shadow: 12px 12px 20px 0px rgba(254, 76, 28, 0.3);
-moz-box-shadow: 12px 12px 20px 0px rgba(254, 76, 28, 0.3);
transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
color: #a41ee9;
text-decoration: none;
}
.octf-btn.octf-btn-white i {
background: #a41ee9;
color: #ffffff;
}
.octf-btn-icon i {
background: #fff;
color: #be1724;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
display: inline-block;
margin-right: 14px;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
transition: all 0.3s linear;
}
.nos-techs{
background: #ffffff;
padding: 3em 1em;
border-bottom: 1px solid #ddd;
}
.nos-techs > h3{
font-size: 35px;
font-weight: 700;
color: var(--primeryclr);
text-align: center;
margin-bottom: 1em;
}
.nos-techs .widget-content{
display: flex;
gap: 2em;
justify-content: center;
flex-wrap: wrap;
max-width: 1200px;
margin: auto;
}
.nosbox{
background: aliceblue;
padding: 2em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 171px;
text-align: center;
border-radius: 3px;
box-shadow: 0 0 16px 0px #dddddd96;
border: 1px solid #cde8ff;
}
.nosbox img{
height:55px;
}
.nosbox h4{
font-weight: 500;
margin: 10px 0 0;
}
@media only screen and (max-width:500px){
.nos-techs .widget-content{
gap:1em;
}
.nosbox{
width:Calc(50% - 1em);
padding:1em;
}
}
.nos-feature{
padding: 2em 1em;
background: #fff;
}
.nos-feature > h3{
font-size: 35px;
font-weight: 700;
color: var(--primeryclr);
text-align: center;
margin-bottom: 1em;
}
.nos-feature .leftright{
display: flex;
align-items: center;
justify-content: center;
max-width: 1200px;
margin: auto;
gap: 2em;
}
.nos-feature .leftright > img{
max-height: 600px;
max-width: 50%;
}
.nos-feature ul{
padding: 0;
margin: 0;
list-style: none;
display: flex;
flex-direction: column;
gap: 3em;
}
.nos-feature ul h4{
font-weight: 700;
margin-bottom: 0.2em;
font-size: 21px;
}
.nos-feature ul p{
font-size: 15px;
}
.nos-feature ul li{
display: flex;
align-items: center;
justify-content: center;
gap: 2em;
max-width: 530px;
}
.nos-feature ul li img{
width:85px;
}
.nos-feature ul li div{
display: flex;
flex-direction: column;
gap: 5px;
}
.nos-feature ul li p, .nos-feature ul li h4{
margin: 0;
}
@media only screen and (max-width: 700px){
.nos-feature .leftright{
flex-direction: column;
gap:3em;
}
.nos-feature .leftright > img{
max-width:100%;
}
.nos-feature ul li {
gap:1em;
}
}
.approaches{
padding: 2em 1em;
border-top: 1px solid #ddd;
}
.approaches > h3{
font-size: 35px;
font-weight: 700;
color: var(--primeryclr);
text-align: center;
margin-bottom: 1em;
}
.approaches .widget-content{
display: flex;
align-items: center;
justify-content: center;
gap: 3em;
text-align: center;
max-width: 1200px;
margin: auto;
}
.approaches .widget-content > div{
width:350px;
max-width:100%;
}
.approaches .widget img{
width:85%;
}
.approaches .widget h3{
font-size: 21px;
font-weight: 500;
margin: 0.51em auto 0.21em;
}
.approaches .widget p{
font-size: 15px;
}
.approaches svg{
width: 100%;
display: block;
height: auto;
margin-top: 2em;
}
@media only screen and (max-width:600px){
.approaches .widget-content{
flex-direction: column;
}
}
.call-me{
position: fixed;
right: 0.71em;
bottom: 3.8em;
background: #771ee9;
color: #fff;
padding: 15px;
font-size: 21px;
border-radius: 50%;
box-shadow: 0 0 5px 1px #9d9c9d;
}

--></style>
<style>
  #main-area{
      
  }
      .d-flex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
      }
  .post-box{
    padding: 10px 10px 55px;
    background: #fffdfc;
    box-shadow: 0 5px 35px rgb(0 0 0 / 7%);
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
    position: relative;
      }
     .post-box img{
          border-radius: 7px;
      	  height:auto;
      	  width:100%;
      }
      
      .post-box h1{
    font-weight: 500;
    line-height: 1.2;
    font-size: 19px;
      }
      
      .post-box p{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
      }
      
      .post-box div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    font-size: 14px;
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
      }
      
    .post-box div p, .post-box div a{  
          color: var(--secondary);
    font-weight: 500;
      }